<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9739ca0c-98c6-40e9-b35b-2566aeb12e8c/resourceGroups/LindiCourse/providers/Microsoft.Web/sites/LindiZ</ResourceId>
    <ResourceGroup>LindiCourse</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://lindiz.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://lindiz.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$LindiZ</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>